
*.f90~

*.user

*.2-pre1

*.py~

*.tex~

*.txt~

*.autosave



.texpadtmp/
_minted-sciprog/

*.aux

*.lof

*.log

*.out

*.pdf

*.toc
*.bbl
sciprog.blg
*.gz
*.exe
*.mod
source/submodules/points.smod
*.smod
*.json
*.zip
*.synctex
*.bak
*.fdb_latexmk
*.fls
source/bouncing_particles/build/
*.pyd
sciprog.pyg
*.synctex(busy)
