
*.f90~

*.user

*.2-pre1

*.py~

*.tex~

*.txt~



.texpadtmp/
_minted-sciprog/

*.aux

*.lof

*.log

*.out

*.pdf

*.toc
*.bbl
sciprog.blg
*.gz
*.exe
*.mod
source/submodules/points.smod
*.smod
*.json
